<div class="card darkgreen-bg font-16 left-padding">
    <div class="row padding-ten">
        <div class="col-sm-2">
            <img style="height: 100px; width: 100px;" src={%IMAGE%} alt="veg-image" class="rounded">
        </div>
        <div class="col-sm-10">
            <h3>{%PRODUCTNAME%}</h3>
        </div>
    </div>
    <div class="row padding-ten">
        <div class="col-sm-12">
            <p><span class="font-24">Organic/Inorganic:</span> {%ORGANIC%}</p>
        </div>
    </div>
    <div class="row padding-ten">
        <div class="col-sm-6">
            <p><span class="font-20">Quantity:</span> {%QUANTITY%}</p>
        </div>
        <div class="col-sm-6">
            <p><span class="font-20">Price:</span> {%PRICE%}</p>
        </div>
    </div>
    <div class="row padding-ten">
        <div class="col-sm-6">
            <p><span class="font-20">Nutrients:</span> {%NUTRITION%}</p>
        </div>
        <div class="col-sm-6">
            <p><span class="font-20">Origin:</span> {%FROM%}</p>
        </div>
    </div>
    <div class="row padding-ten">
        <div class="col-sm-12">
            <p class="font-20">Description: </p>
            <p>{%DESCRIPTION%}</p>
        </div>
    </div>
</div>