<div class="card darkgreen-bg bottom-sp left-padding">
    <div class="row flex padding-ten">
        <div class="col-sm-3 col-md-2">
            <img style="height: 100px; width: 100px;" src={%IMAGE%} alt="veg-image" class="rounded">
        </div>

        <div class="col-sm-3 col-md-2">
            <h3 class="font-size: 2vw">{%PRODUCTNAME%}</h3>
        </div>
        <div class="col-sm-3 col-md-2">
            <h6><b>Quantity:</b> {%QUANTITY%}</h6>
        </div>
        <div class="col-sm-3 col-md-2">
            <h6><b>Price:</b> {%PRICE%}</h6>
        </div>
        <div class="col-sm-3 col-md-2">
            <a href="/product?id={%ID%}" class="btn btn-info" role="button"><b>details...</b></a>
        </div>
    </div>
</div>